*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(4.jpg);
    background-size: cover;
    background-repeat: none;
    height: 100vh;
}
    i{
        font-size: 50px;
        background-color: teal;
        padding: 15px;
        border-radius: 100%;
        color: antiquewhite;
        cursor: pointer;
        transition: 2s ease-in-out;
        margin-top: 20px;
    }
    i:hover{
        font-size: 50px;
        background-color: transparent;
        padding: 15px;
        border-radius: 100%;
        color: teal;
        border: solid 2px teal;
    }
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
form{
    width: 38%;
    background-color: rgb(100,149,237, 10%);
    margin-left: 30%;
    height: 250px;
    padding: 50px;
    border-style: none;
    border-radius: 10px;
    border: solid 1px  #fff;
}
input{
    width: 90%;
    height: 30px;
    border-style: none;
    border-radius: 10px;
    background-color:  rgb(100,149,237, 30%);
    border: solid 0.5px #fff;
}
label{
    color: #c5cbeb;
    font-size: 20px;
}

.low{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
p{
    color: #c5cbeb;
}
h1{
    background-color: #000000;
    width: 400px;
    height: 50px;
    margin-left: 35%;
    border-radius: 10rem;
    border-style: none;
    position: relative;
    padding: 30px;
    padding-left: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #c5cbeb;
}
#bt2{
    width:70%;
    height: 30px;
    border-style: none;
    border-radius: 10px;
    border-radius: 10px;
    background: linear-gradient(270deg, red, blue, purple);
    background-size: 400% 400%;
    animation: gradientMove 6s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#bt1{
    background-color: #000000;
    width: 250px;
    height: 50px;
    margin-top: 3%;
    margin-left: 45%;
    border-radius: 10rem;
    border-style: none;
    position: relative;
    color: #c5cbeb;
    padding: 15px;
}   
h1::after, h1::before{
    --angle: 0deg;
    content: '';
    position: absolute;
    background-image:conic-gradient(from var(--angle) ,transparent 70%, red, teal,coral,darkorange);
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    border-style: none;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 8px;
    animation: 2s spin linear infinite; 
}
#bt1::after, #bt1::before{
    --angle: 0deg;
    content: '';
    position: absolute;
    background-image:conic-gradient(from var(--angle) ,transparent 70%, rgb(255, 30, 0));
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    border-style: none;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 5px;
    animation: 2s spin linear infinite;
}

h1::before{
    filter: blur(1rem);
    opacity: 0.2;
}
#bt1::before{
    filter: blur(1rem);
    opacity: 0.2;
}
@keyframes spin{
    from{
       --angle: 0deg;
    }
    to{
        --angle: -360deg;
    }
}